ul.tag-cloud a {
  /*   
    Not supported by any browser at the moment :(
    --size: attr(data-weight number); 
    */
  --size: 6;
  --color: #a33;
  color: var(--color);
  font-size: calc(var(--size) * 0.25rem + 0.5rem);
  display: block;
  padding: 0.125rem 0.25rem;
  position: relative;
  text-decoration: none;
  /* 
    For different tones of a single color
    opacity: calc((15 - (9 - var(--size))) / 15); 
    */
}

ul.tag-cloud a[data-weight='1'] {
  --size: 3;
}
ul.tag-cloud a[data-weight='2'] {
  --size: 4;
}
ul.tag-cloud a[data-weight='3'] {
  --size: 5;
}
ul.tag-cloud a[data-weight='4'] {
  --size: 6;
}
ul.tag-cloud a[data-weight='5'] {
  --size: 8;
}
ul.tag-cloud a[data-weight='6'] {
  --size: 10;
}
ul.tag-cloud a[data-weight='7'] {
  --size: 12;
}
ul.tag-cloud a[data-weight='8'] {
  --size: 15;
}
ul.tag-cloud a[data-weight='9'] {
  --size: 18;
}

ul[data-show-value] a::after {
  content: ' (' attr(data-weight) ')';
  font-size: 1rem;
}

ul.tag-cloud li:nth-child(2n + 1) a {
  --color: #181;
}
ul.tag-cloud li:nth-child(3n + 1) a {
  --color: #33a;
}
ul.tag-cloud li:nth-child(4n + 1) a {
  --color: #c38;
}

ul.tag-cloud a:focus {
  outline: 1px dashed;
}

ul.tag-cloud a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background: var(--color);
  transform: translate(-50%, 0);
  opacity: 0.15;
  transition: width 0.25s;
}

ul.tag-cloud a:focus::before,
ul.tag-cloud a:hover::before {
  width: 100%;
}

@media (prefers-reduced-motion) {
  ul.tag-cloud * {
    transition: none !important;
  }
}
